*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 920px;
    margin: auto;
    
}

footer{
    background-color: black;
}

header{
    background-color: aqua;
    width: 100%;
    padding: 2rem;
}

section{
    padding: 2rem 0;
}

footer .container .menu >div{
    background-color: pink;
    padding: 1rem;
}

footer section .row .col-2{
    flex-grow: 2;
    padding: 10rem 0;
}

footer section .row .col{
    flex-grow: 1;
    padding: 10rem 0;
}

footer .container .menu{
    background-color: aquamarine;
    padding: 2rem 0;
}

footer .container{
    padding: 1rem 0;
}

footer section{
    padding: 0;
}

nav .container{
    background-color: yellow;
    padding: 2rem 0;
}

main .blue .container{
    padding: 0 5rem;
}

.green{
    background-color: green;
    padding: 10rem;
}

.menu{
    display: flex;
    justify-content: space-between;
}



.blue{
    background-color: blue;
   
}

.violet{
    background-color: violet;
    padding: 10rem;

}

.row{
    display: flex;
}

.col{
    padding: 3rem;
    background-color: aqua;
    flex-grow: 2;
}

.col-2{
    padding: 3rem;
    background-color: pink;
    flex-grow: 1;
}

.gray{
    background-color: lightgray;
}

.nav-footer{
    display: flex;
    color: white;
}
